In [84]:
import numpy as np
import pandas as pd
T1 = "<s> I am Sam </s>"
T2 = "<s> Sam I am </s>"
T3 = "<s> I am Sam </s>"
T4 = "<s> I do not like green eggs and Sam </s>"
T = []
T.append(T1)
T.append(T2)
T.append(T3)
T.append(T4)
T

['<s> I am Sam </s>',
 '<s> Sam I am </s>',
 '<s> I am Sam </s>',
 '<s> I do not like green eggs and Sam </s>']

In [85]:
set_all=[]
set1=[]
set2=[]
set3=[]
set4=[]
for i in T1.split(' '):
    set1.append(i)
for i in T2.split(' '):
    set2.append(i)
for i in T3.split(' '):
    set3.append(i)
for i in T4.split(' '):
    set4.append(i)

set_all.append(set1)
set_all.append(set2)
set_all.append(set3)
set_all.append(set4)

In [86]:
set_all

[['<s>', 'I', 'am', 'Sam', '</s>'],
 ['<s>', 'Sam', 'I', 'am', '</s>'],
 ['<s>', 'I', 'am', 'Sam', '</s>'],
 ['<s>', 'I', 'do', 'not', 'like', 'green', 'eggs', 'and', 'Sam', '</s>']]

In [87]:
x=0
listY=[]

def rows (listY,text):
    x=0
    while x < len(text)-2:
        listZ=[]
        listZ.append(text[x])
        listZ.append(text[x+1])
        listZ.append(text[x+2])
        x=x+1
        listY.append(listZ)
    return(listY)

listY=rows(listY,set_all[0])
listY=rows(listY,set_all[1])
listY=rows(listY,set_all[2])
listY=rows(listY,set_all[3])
listY

[['<s>', 'I', 'am'],
 ['I', 'am', 'Sam'],
 ['am', 'Sam', '</s>'],
 ['<s>', 'Sam', 'I'],
 ['Sam', 'I', 'am'],
 ['I', 'am', '</s>'],
 ['<s>', 'I', 'am'],
 ['I', 'am', 'Sam'],
 ['am', 'Sam', '</s>'],
 ['<s>', 'I', 'do'],
 ['I', 'do', 'not'],
 ['do', 'not', 'like'],
 ['not', 'like', 'green'],
 ['like', 'green', 'eggs'],
 ['green', 'eggs', 'and'],
 ['eggs', 'and', 'Sam'],
 ['and', 'Sam', '</s>']]

In [88]:
def prob (bottom, up, trigram):
    listB=[]
    bottom=bottom.split(' ')
    for i in trigram:
        if (i[0] == bottom[0]) & (i[1] == bottom[1]):
            listB.append(i)
    x=0
    for i in listB:
        if i[2] == up:
            x=x+1
    prob = x/len(listB)
    return(prob)

In [89]:
prob("<s> I", "am", listY)

0.6666666666666666

In [90]:
listbottom = []
listup = []
listprob = []
for i in listY:
    list1=[]
    list2=[]
    list1.append(i[0])
    list1.append(i[1])
    list2.append(i[2])
    b=i[0]+' '+i[1]
    prob1=prob(b,list2[0],listY)
    listbottom.append(list1)
    listup.append(list2)
    listprob.append(prob1)

In [91]:
listprob

[0.6666666666666666,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 0.3333333333333333,
 0.6666666666666666,
 0.6666666666666666,
 1.0,
 0.3333333333333333,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [81]:
df=pd.DataFrame()

In [82]:
df["bottom"]=listbottom
df["up"]=listup
df["tragram"]=listprob

In [83]:
df

           bottom       up   tragram
0        [<s>, I]     [am]  0.666667
1         [I, am]    [Sam]  0.666667
2       [am, Sam]   [</s>]  1.000000
3      [<s>, Sam]      [I]  1.000000
4        [Sam, I]     [am]  1.000000
5         [I, am]   [</s>]  0.333333
6        [<s>, I]     [am]  0.666667
7         [I, am]    [Sam]  0.666667
8       [am, Sam]   [</s>]  1.000000
9        [<s>, I]     [do]  0.333333
10        [I, do]    [not]  1.000000
11      [do, not]   [like]  1.000000
12    [not, like]  [green]  1.000000
13  [like, green]   [eggs]  1.000000
14  [green, eggs]    [and]  1.000000
15    [eggs, and]    [Sam]  1.000000
16     [and, Sam]   [</s>]  1.000000